{% extends 'base.html' %}

{% block content %}

<div class="container">
    
    <header class="jumbotron">
    <h1>Welcome to places....</h1>
    <p>View our handpicked places</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/newplace">Add new place</a>   
    </p>
    </header>

                                                                               
    <div class="row text-center" style="display:flex; flex-wrap:wrap">

        {% for place in places %}
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="{{ place.image }}">
                    <div class="caption">
                        <h4>{{ place.name }}</h4>
                    </div>
                    <p>
                    <a href="/{{ place.id }}" class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
        {% endfor %}

    </div>
        

</div>


 {% endblock %}




